@import url('./fonts.css');

body{
    font-family: Roboto;
}

.my-btn {
    background-color: #5a72b5;
    border-color: #5a72b5;
}

.my-btn:hover {
    background-color: #3a52a5;
    border-color: #3a52a5;
}