@import url('./fonts.css');

.NavbarButtons{
    font-family: Roboto;
    font-size: 20px;
}

.NavbarBrand{
    background-color:#ffffff;
text-decoration: none;
color:#5a72b5;
text-align:center;
font-size:2em;
font-family:Roboto;
width:10em;
margin-left: 1em;
font-weight: bold;
}

.NavbarBrandSmall{
    background-color:#ffffff;
text-decoration: none;
color:#5a72b5;
text-align:center;
font-size:2em;
font-family:Roboto;
visibility: hidden;
width: 0px;
font-weight: bold;
}

.divHeader{
    background-color:#ffffff;

    width:90%;
    filter:drop-shadow(0px 4px 10px rgba(0.3529411852359772,0.4470588266849518,0.7098039388656616,1));
    border-radius:0px 0px 16px 16px;
    padding:0px;
    left:5%;

}

@media (max-width: 500px){
    .NavbarBrand{
        visibility: hidden;
        width: 0px;
        margin-right: 0;
        margin-left: 0;
    }
    .NavbarBrandSmall{
        visibility: visible;
        width: 3em;
        margin-left: 1em;
    }
}
